/* assets/css/custom.css */

.page-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  iframe {
    max-width: 100%;
    border: none;
  }

  /* Style the logo as a circle and adjust its size */
.logo {
    width: 300px; /* Adjust the width as needed */
    height: 300; /* Adjust the height as needed */
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }